/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1c1a20;
}


/* ---- typography ---- */

h1 {
    font-family: 'Franchise-Bold', 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

h2 {
  font-family: 'Chivo', 'Open Sans', sans-serif;
  font-size: 1em;
  color: #fff;
  font-weight: 550;
  padding-top: 15px;
}

h3 {
  color: #fff;
  font-family: 'Franchise-Bold', 'Open Sans', sans-serif;;
  font-weight: 200;
}

h4 {
  color: #fff;
  font-family: 'Franchise-Bold', 'Open Sans', sans-serif;;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

p {
  color: #fff;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  line-height: 2em;
  font-weight: 100;
}

@font-face {
  font-family: 'Franchise-Bold';
  src: url('./fonts/Franchise-Bold.ttf');
}


/* ---- layout ---- */

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4em;
    text-align: left;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 2.5em;
    margin: 0;
    padding-right: 70px;
  }

  h4 {
    font-size: 1.6em;
    text-align: left;
  }

  p {
    font-size: 18px;
  }

  .container {
    max-width: 728px;
  }

  button.cta-button {
    font-size: 1em;
    width: 190px;
    height: 47px;
    margin-left: 100px;
  }

  body {
    background-image: url('./images/desktop_wireframe_hi-fi.png');
    background-size: cover;
  }

  div.sexy-broccoli {
    display: none;
  }

  section.about {
    margin-top: 40px;
  }

  div.about-section {
    border-left: 2px solid #4eb045;
    margin-left: 70px;
    padding-left: 30px;
  }

  div.tagline {
    width: 300px;
  }

  div.tagline p {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.line h3 {
      display: none;
  }

  section.trust-indicators {
    justify-content: space-between;
    margin-left: 100px;
    padding-top: 70px;
  }

  hr {
    display: none;
   }

  div.emoji-div {
    display: flex;
    align-items: center;
    justify-content: left;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.35em;
    text-align: center;
    margin: 10px;
  }

  p {
    font-size: 14px;
  }

  button.cta-button {
    font-size: 0.85em;
    width: 147px;
    height: 38px;
  }

  div.sexy-broccoli {
    display: flex;
    background-image: url('./images/HGy7V9W.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }

  button.cta-button {
    margin: 0 auto;
  }

  section.about {
    text-align: center;
  }

  button.cta-button {
    justify-content: center;
  }

  section.trust-indicators {
    justify-content: center;
  }

  div.trust-div {

  }

  section.trust-indicators h3 {
    display: none;
  }

  hr {
    margin: 0 auto;
    border: 1px solid #4eb045;
    width: 40%;
   }

   div.emoji-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.tagline {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

}

/* ---- header ---- */

/* ---- section about ---- */

img.emoji {
  width: 30px;
}

/* ---- section trust indicators ---- */

section.trust-indicators {
 display: flex;
}

div.trust-div {
  display: flex;
}

.logos {
 padding: 0 15px;
}

img.logos {
  height: 50px;
}

/* ---- components ---- */

button.cta-button {
  display: block;
  color: #fff;
  font-family: 'roboto', 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: #4eb045;
  border-radius: 1px;
  border: 0;
  cursor: pointer;
}